<h2>Invitation for PayDash Data Entry</h2>
<p>Hello,</p>
<p>{{name}} has invited you to enter data for PayDash. Please follow this link to login and get started.</p>
<p>Login Details :</p>
<p>Username : {{username}} </p>
<p>Password : {{password}}   </p>
<p> <a href="{{url}}">{{url}}</a></p>
