<h2>Invitation for data entry interface</h2>
<p>Hi </p>
<p>{{name}} has invited you to entry data. Please follow this link to login to paydash and fill data.</p>
<p>Login Details :</p>
<p>Username : {{username}} </p>
<p>Password : {{password}}   </p>
<p> <a href="{{url}}">{{url}}</a></p>
