<div class="container overview">
    <div class="overview-title">
        {{t "/web/overview/welcome/1" credentials null}} {{credentials.firstname}} {{credentials.lastname}}  {{t "/web/overview/welcome/2" credentials null}}
    </div>
    <p class="overview-desc">{{t "/web/overview/description" credentials null}}</p>
    <div id="overview"></div>
</div>
