<div class="container u-spacing-page-top">
  <div class="pure-g">
    <div class="pure-u pure-u-7-24">
      {{> settings-nav}}
    </div>
    <div class="pure-u pure-u-10-24">
      <div class="">
        {{> flash}}
        <h5 class="heading--sub">Email Settings</h5>
        <p>{{t "/web/profile/primary_email_msg" credentials null}}</p>
        <p>
          {{t "/web/profile/your_primary_email" credentials null}} :  <b>{{credentials.email}} </b>
        </p>
        <h5 class="heading--sub">{{t "/web/profile/change_pass" credentials null}}</h5>
        <form data-tab="profile" method="post" action="/me/settings/account/change-password">
          <label for="password">{{t "/web/profile/old_pass" credentials null}}</label>
          <input class="u-full-width" type="password" id="OldPassword" name="oldPassword" value="">
          <label for="password">{{t "/web/profile/new_pass" credentials null}}</label>
          <input class="u-full-width" type="password" id="newPassword" name="newPassword" value="">
          <label for="verify">{{t "/web/profile/pass_confirm" credentials null}}</label>
          <input class="u-full-width" type="password" id="verify" name="verify" value="" autocorrect="off" autocapitalize="off"> {{> form_security}}
          <input type="submit" value="{{t "/web/profile/save" credentials null}}" class=" button button--primary">
        </form>
      </div>
    </div>
  </div>
</div>
