<div class="container u-spacing-page-top">
  <div class="pure-g">
    <div class="pure-u pure-u-7-24">
      {{> settings-nav}}
    </div>
    <div class="pure-u pure-u-10-24">
      <div class="">
        <h5 class="heading--sub">{{t "/profile/profile_settings" credentials}}</h5> {{> flash}}
        <p>{{t "/profile/firstname" credentials}} : {{user.firstname}}</p>
         <p>{{t "/profile/lastname" credentials}} : {{user.lastname}}</p>

        <form data-tab="profile" method="post" action="">
          {{#with user}}
            <label for="email">{{t "/profile/work_email" credentials}}</label>
            <input class="u-full-width" id="work_email" value="{{work_email}}" name="work_email" type="text" placeholder="Please enter your work email">
            <label for="dob">{{t "/profile/mobile" credentials}}</label>
            <input class="u-full-width" id="mobile" name="mobile" type="text" value="{{mobile}}" placeholder="Please enter your mobile no">
            <label for="email">{{t "/profile/personal_email" credentials}}</label>
            <input class="u-full-width" id="email" name="email" value="{{email}}" type="text" placeholder="Please enter your email id"> 
            <label for="lang">{{t "/profile/lang" credentials}}</label>
            <select class="u-full-width" name="lang" value="{{lang}}" id="lang">
              {{#select lang}}
              <option value="en_US">English</option>
              <option value="hi">Hindi</option>
              {{/select}}
            </select>    
          {{/with}}
          {{> form_security}}
          <input type="submit" value="{{t "/profile/save" credentials}}" class=" button button--primary">
        </form>
      </div>
    </div>
  </div>
</div>
