<div class="container u-spacing-page-top">
  <div class="pure-g">
    <div class="pure-u pure-u-7-24">
      {{> settings-nav}}
    </div>
    <div class="pure-u pure-u-10-24">
      <div class="">
        <h5 class="heading--sub">{{t "/web/profile/profile_settings" credentials null}}</h5> 
        {{> flash}}
        <p>{{t "/web/profile/firstname" credentials null}} : {{user.firstname}}</p>
         <p>{{t "/web/profile/lastname" credentials null}} : {{user.lastname}}</p>

        <form data-tab="profile" method="post" action="">
            <label for="email">{{t "/web/profile/work_email" credentials null}}</label>
            <input class="u-full-width" id="work_email" value="{{user.work_email}}" name="work_email" type="text" placeholder="Please enter your work email">
            <label for="dob">{{t "/web/profile/mobile" credentials null}}</label>
            <input class="u-full-width" id="mobile" name="mobile" type="text" value="{{user.mobile}}" placeholder="Please enter your mobile no">
            <label for="email">{{t "/web/profile/personal_email" credentials null}}</label>
            <input class="u-full-width" id="email" name="email" value="{{user.email}}" type="text" placeholder="Please enter your email id"> 
            <label for="lang">{{t "/web/profile/lang" credentials null}}</label>
            <select class="u-full-width" name="lang" value="{{user.lang}}" id="lang">
              {{#select user.lang}}
              <option value="en_US">English</option>
              <option value="hi">Hindi</option>
              {{/select}}
            </select>    
            <label for="colorblind">{{t "/web/profile/colorblind" credentials null}}</label>
            <select class="u-full-width" name="colorblind" value="{{user.colorblind}}" id="colorblind">
              {{#select user.colorblind}}
              <option value="0">No</option>
              <option value="1">Yes</option>
              {{/select}}
            </select>
          {{> form_security}}
          <input type="submit" value="{{t "/web/profile/save" credentials null}}" class=" button button--primary">
        </form>
      </div>
    </div>
  </div>
</div>
