<div class="container u-spacing-page-top">
  <div class="pure-g">
    <div class="pure-u pure-u-7-24">
      {{> settings-nav}}
    </div>
    <div class="pure-u pure-u-10-24">
      <div class="">
        {{> flash}}
        <h5 class="heading--sub">Email Settings</h5>
        <p>{{t "/profile/primary_email_msg" credentials}}</p>
        <p>
          {{t "/profile/your_primary_email" credentials}} :  <b>{{credentials.email}} </b>
        </p>
        <h5 class="heading--sub">{{t "/profile/change_pass" credentials}}</h5>
        <form data-tab="profile" method="post" action="/me/settings/account/change-password">
          <label for="password">{{t "/profile/old_pass" credentials}}</label>
          <input class="u-full-width" type="password" id="OldPassword" name="oldPassword" value="">
          <label for="password">{{t "/profile/new_pass" credentials}}</label>
          <input class="u-full-width" type="password" id="newPassword" name="newPassword" value="">
          <label for="verify">{{t "/profile/pass_confirm" credentials}}</label>
          <input class="u-full-width" type="password" id="verify" name="verify" value="" autocorrect="off" autocapitalize="off"> {{> form_security}}
          <input type="submit" value="{{t "/profile/save" credentials}}" class=" button button--primary">
          <a href="/forgot-password">{{t "/profile/forgot_pass" credentials}}</a>
        </form>
      </div>
    </div>
  </div>
</div>
