<div class="container-narrow u-spacing-page-top">
  <h1 class="u-text-center">{{t "/web/contact/header" credentials null}}</h1>
  <br>
   
   <div class="u-text-center">{{{info}}} </div>
   <br>
   <div class="u-text-center">{{t "/web/contact/or" credentials null}} </div>
   <br>
   <div class="u-text-center">{{t "/web/contact/send_message" credentials null}} </div>
   <br>
   {{> flash}}
   <form method="post" action="/contact">
     <textarea style="height:200px" class="u-full-width" id="messgae" name="message" value=""></textarea>
     {{> form_security}}
     <input type="submit" value="{{t "/web/contact/send_button" credentials null}}" class=" button button--primary u-full-width">
   </form>
</div>
