{{#if error}}
<p style="padding: 20px;">{{error}}</p>
{{/if}}

<h1 style="padding-top: 20px; margin-left: 14px">{{panchayat_name}}</h1>

{{#if actionable_musters}}

<h3 style="padding-top: 20px; margin-left: 14px">Actionable musters</h1>

<table style="margin: 14px;"
<thead>
  <tr>
    {{#each actionable_musters.[0]}}
      <th>{{@key}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each actionable_musters}}
    <tr>
    	{{#each this}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>
{{/if}}


{{#if other_musters}}

<h3 style="padding-top: 20px; margin-left: 14px">Other musters</h1>

<table style="margin: 14px;">
<thead>
  <tr>
    {{#each other_musters.[0]}}
      <th>{{@key}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each other_musters}}
    <tr>
    	{{#each this}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>
{{/if}}