{{#if error}}
<p style="padding: 20px;">{{error}}</p>
{{/if}}

<h1 style="padding-top: 20px; margin-left: 14px">{{panchayat_name}}</h1>

<h3 style="padding-top: 20px; margin-left: 14px">विलंबित MR जिन्होने अपने T+8 दिनांक को पार नही किया है</h3>

{{#if actionable_musters}}
<table style="margin: 14px;">
<thead>
  <tr>
    {{#each actionable_musters.[0]}}
      <th>{{{@key}}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each actionable_musters}}
    <tr>
    	{{#each this}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>
{{else}}
<h4 style="margin: 14px">इस तरह के कोई भी MR आज विलंबित नहीं है</h4>
{{/if}}

<h3 style="padding-top: 20px; margin-left: 14px">विलंबित MR जिन्होने अपने T+8 दिनांक को पार कर लिया है</h3>

{{#if other_musters}}
<table style="margin: 14px;">
<thead>
  <tr>
    {{#each other_musters.[0]}}
      <th>{{{@key}}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each other_musters}}
    <tr>
    	{{#each this}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>
{{else}}
<h4 style="margin: 14px">इस तरह के कोई भी MR आज विलंबित नहीं है</h4>
{{/if}}
