{{!-- Loader --}}
{{> loader}}
{{!-- Coloumn layout --}}
<div id="dashboard" class="dashboard container-fluid u-hidden">
  <div class="subnav subnav-fixed">
    <span id="region-name" class="subnav-name"></span>
    <select class="u-pull-right" id="modify-time-period-controls" name="">
      <option value="">{{t "/time_selector/1" credentials}}</option>
      <option value="61">{{t "/time_selector/2" credentials}}</option>
      <option value="31">{{t "/time_selector/3" credentials}}</option>
    </select>
    <div id="panchayat_selectors" class="panchayat_selectors u-pull-right u-hidden">
      <div class="panchayat-sort">
        <div id="discrete-groupby-controls" class="button-group">
          <button class="button" data-groupby="no">{{t "/performance/discrete/grouping_selectors/no" credentials}}</button>
          <button class="button selected" data-groupby="TA">{{t "/performance/discrete/grouping_selectors/ta" credentials}}</button>
          <button class="button" data-groupby="GRS">{{t "/performance/discrete/grouping_selectors/grs" credentials}}</button>
        </div>
      </div>
    </div>
    
  </div>

  <div class="pure-g">
    <div class="pure-u-6-24 sidebar">
      {{!-- Mapping message --}}
      <div id="mapping-msg-1" class="u-hidden message message--warning">
          {{t "/performance/discrete/grs_message" credentials}}
      </div>
      <div id="mapping-msg-2" class="u-hidden message message--warning">
          {{t "/performance/discrete/ta_message" credentials}}
      </div>
      <div id="grouping_container"></div>
    </div>
    <div class="pure-u-18-24 main">
      <h1>{{t "/performance/discrete/sub_heading/1" credentials}} <span id="heading_region_name"></span> {{t "/performance/discrete/sub_heading/2" credentials}}</h1>
      <div>
        {{t "/performance/discrete/subtitle" credentials}}
        <span style="cursor:help" title="{{t "/performance/discrete/tooltip" credentials}}" class="pe-7s-info"></span>
      </div>
      <div id="d_chart"></div>
      <div id="d_chart_placeholder">
        <div class="message message--info">{{t "/performance/discrete/panchayat_chart_placeholder" credentials}}</div>
      </div>
      <div class="legend region_legend legend-discrete"></div>
    </div>
  </div>
</div>


