<div class="container-fluid u-spacing-page-top">
  {{> loader}}
  <div id="dashboard" class="dashboard u-hidden">
    <div class="subnav">
      <span id="region-name" class="subnav-name"></span>
      <select class="u-pull-right" id="modify-time-period-controls" name="">
        <option value="">{{t "time_selector/1" credentials}}</option>
        <option value="61">{{t "time_selector/2" credentials}}</option>
        <option value="31">{{t "time_selector/3" credentials}}</option>
      </select>
    </div>
    {{!-- Overview --}}
    <div class="pure-g">
      <div class="pure-u-6-24">
        <h2 class="u-mt-larger">{{t "/performance/overview/chart_a/title" credentials}}</h2>
        <p>
          {{t "/performance/overview/chart_a/description" credentials}}
          <span style="cursor:help" title="{{t "/performance/overview/tooltip" credentials}}" class="pe-7s-info"></span>
        </p>

        <div class="legend region_legend"></div>
        <div>{{t "/total_trans" credentials}} <span id="region_performance_total_trans"></span></div>
      </div>
      <div class="pure-u-18-24">
        <div id="region_performance"></div>
      </div>
    </div>
    {{!-- Performance Comparison --}}
    <div class="u-region-divider"></div>
    <div class="pure-g">
      <div class="pure-u-6-24">
        <h2 class="u-mt-larger">{{t "/performance/overview/chart_b/title" credentials}}</h2>
        <p>
          {{t "/performance/overview/chart_b/description" credentials}}
          <span style="cursor:help" title="{{t "/performance/overview/tooltip" credentials}}" class="pe-7s-info"></span>
        </p>
        <select class="button button--pc" name="" id="modify-step-controls">
          <option value="1">{{t "/payment_steps/1" credentials}}</option>
          <option value="2">{{t "/payment_steps/2" credentials}}</option>
          <option value="3">{{t "/payment_steps/3" credentials}}</option>
          <option value="4">{{t "/payment_steps/4" credentials}}</option>
          <option value="5">{{t "/payment_steps/5" credentials}}</option>
          <option value="6">{{t "/payment_steps/6" credentials}}</option>
          <option value="7">{{t "/payment_steps/7" credentials}}</option>
        </select>
        <div id="compareRegion" class="group-selector"></div>
        <div class="legend comparison_legend"></div>
        <div>{{t "/total_trans" credentials}} <span id="region_comparison_total_trans"></span></div>
      </div>
      <div class="pure-u-18-24">
        <div id="region_comparison"></div>
      </div>
    </div>
    {{> footer}}
  </div>
</div>
