<div class="editor__subtext">
    MGNREGA <br>
    Employee Data Entry
</div> 
<select class="editor__selector" name="share_region" value="" id="lang">
    {{#each credentials.user_regions as | region |}}
    <option value="{{region_code}}">{{region.region_name}}</option>
    {{/each}}
</select>
<div class="menu menu--vertical menu--pointing-right menu--borderRight menu--width-wide">
  <a class="menu-item" href="/editor/t2">{{t "/web/editor/nav/t2" credentials null}}</a>
  <a class="menu-item" href="/editor/t5">{{t "/web/editor/nav/t5" credentials null}}</a>
  <a class="menu-item" href="/editor/t6">{{t "/web/editor/nav/t6" credentials null}}</a>
  <a class="menu-item" href="/editor/t7">{{t "/web/editor/nav/t7" credentials null}}</a>
  <a class="menu-item" href="/editor/t8">{{t "/web/editor/nav/t8" credentials null}}</a>
</div>
