<div class="menu menu--vertical menu--pointing-right menu--borderRight menu--width-noraml">
  <a class="menu-item" href="/editor/t_2">{{t "/web/editor/nav/t_2" credentials null}}</a>
  <a class="menu-item" href="/editor/t_6">{{t "/web/editor/nav/t_5" credentials null}}</a>
  <a class="menu-item" href="/editor/t_6">{{t "/web/editor/nav/t_6" credentials null}}</a>
  <a class="menu-item" href="/editor/t_6">{{t "/web/editor/nav/t_7" credentials null}}</a>
  <a class="menu-item" href="/editor/t_6">{{t "/web/editor/nav/t_8" credentials null}}</a>
</div>
